* { box-sizing: border-box;}
/* Medium devices (landscape tablets, 768px and below) */
  /*Top border with links*/
  html, body {height: 100%;}
  body {display: flex; flex-direction: column;}
  .content {flex: 1 0 auto;}
  .footer {flex-shrink: 0;}

  .topnav{
  overflow: hidden;
  background-color: #708090;
  border-style: solid;
  border-color: silver
  }

  .authorlogo {
    width: 125px;
     height: 114.2px;
     object-fit: cover;
     margin-top: 7px;
     float: left;
   }

   .topnav a {
     font-family: verdana;
     float: left;
     color: white;
     margin-left: 5px;
     padding: 10px 5px 0px 15px;
     text-decoration: none;
     font-size: 25px;
   }

  /* Under nav*/
  .underHeader {
    background-color: #708090;
    width:100%;
    overflow: hidden;
    height: 10px;
  }

  .aboutMe{
    width:90%;
    height:90%;
    display: block;
    text-align: center;
    margin-left: 20px;
    /*padding right: 30px;*/
  }

  .aboutMe a{
    color: #708090;
    text-decoration: underline;
  }

  .author_logo{
    width: 340px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .footer{
  text-align: center;
        }
  .socialMedia {
        font-size: 30px;
        }

  @media only screen and (min-width: 768px) {
    /* For Desktop */

      /*Top border with links*/
      .topnav{
      overflow: hidden;
      background-color: #708090;
      border-style: solid;
      border-color: silver
      }

      .authorlogo {
        width: 125px;
         height: 114.2px;
         object-fit: cover;
         margin-top: 7px;
         float: left;
       }

      .topnav a {
        font-family: verdana;
        float: left;
        color: white;
        text-align: left;
        margin-top: 5px;
        padding: 50px 15px 20px 200px;
        text-decoration: none;
        font-size: 25px;
      }
      /* Under nav*/
      .underHeader {
        background-color: #708090;
        overflow: hidden;
        height: 10px;
      }
      .aboutMeContainer{
        width: 100%;
      }
      .aboutMe{
        padding-top: 10px;
        width:800px;
        height:400px;
        display: block;
        text-align: center;
        padding right: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
      }

      .aboutMe a{
        color: #708090;
        text-decoration: underline;
      }

      .aboutMe p{
        margin:10px;
      }

      .author_logo{
        width: 350px;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        float: left;
        margin-top: 20px;
      }

      .card {
         background-color: white;
         padding: 20px;
         margin-top: 20px;
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    .footer{
      display: block;
      position: relative;
      left:0;
      bottom: 0;
      background-color: #708090;
      overflow: hidden;
      width: 100%;
      height:75px;
      display: flex;
      justify-content: space-between;
    }
    .leftText {
      margin-left: 20px;
    color: white;
    }

    .socialMedia{
      float: right;
    }
    .fa {
      font-size: 30px;
      width: 50px;
      text-decoration: none;
      margin: 7px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

    .fa-pinterest {
      background: #cb2027;
      color: white;
    }


    .fa-vimeo {
      background: #45bbff;
      color: white;
    }

    .fa-tumblr {
      background: #2c4762;
      color: white;
    }
  }

  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }
